.parent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.player0 { grid-area: 8 / 5 / 9 / 6; }
.player9 { grid-area: 7 / 8 / 8 / 9; }
.player1 { grid-area: 7 / 2 / 8 / 3; }
.player2 { grid-area: 5 / 1 / 6 / 2; }
.player8 { grid-area: 5 / 9 / 6 / 10; }
.player7 { grid-area: 3 / 9 / 4 / 10; }
.player3 { grid-area: 3 / 1 / 4 / 2; }
.player4 { grid-area: 2 / 3 / 3 / 4; }
.player6 { grid-area: 2 / 7 / 3 / 8; }
.player5 { grid-area: 1 / 5 / 2 / 6; }
.board { grid-area: 4 / 4 / 5 / 7; }
.pot { grid-area: 5 / 5 / 6 / 6; }

